//
// Graceful grid system inspired by the idea behind bootstrap
// --------------------------------------------------

.span(@column) {
  float: left;
  min-height: 1px;
  _display: inline;
  margin-left: @grid-gutter-width / 2;
  margin-right: @grid-gutter-width / 2;
//  width: ((@grid-total-width + @grid-gutter-width) / @grid-columns - @grid-gutter-width) * @column + (@column - 1) * @grid-gutter-width;
  width: @column / @grid-columns * (@grid-total-width + @grid-gutter-width) - @grid-gutter-width;
}

.grid {
  margin: 0 auto;
  width: @grid-total-width + @grid-gutter-width;
}

.row {
  display: inline;
}

.span12 {
  .span(12);
}

.span11 {
  .span(11);
}

.span10 {
  .span(10);
}

.span9 {
  .span(9);
}

.span8 {
  .span(8);
}

.span7 {
  .span(7);
}

.span6 {
  .span(6);
}

.span5 {
  .span(5);
}

.span4 {
  .span(4);
}

.span3 {
  .span(3);
}

.span2 {
  .span(2);
}

.span1 {
  .span(1);
}
