    .tooltip {
        padding:5px;
        position:absolute;
        top:80px;
        left:20px;
        display:none;
        .tooltip-inner {
            max-width: 200px;
            padding:8px;
            background:black;
            background:rgba(0,0,0,0.6);
            color:white;
            border-radius: 5px;
        }
        .tooltip-arrow {
            width:0;
            height:0;
            font-size:16px;
            position:absolute;
            overflow:hidden;
            opacity:0.6;
        }
        .top {
            bottom:0;
            left:50%;
            margin-left:-5px;
            border-width:5px 5px 0;
            border-style:solid;
            border-color:white;
            border-color:transparent;
            border-top-color:black;
        } 
        .right {
            top:50%;
            left:0;
            margin-top:-5px;
            border-width:5px 5px 5px 0;
            border-style:solid;
            border-color:white;
            border-color:transparent;
            border-right-color:black;
        } 
        .bottom {
            top:0;
            left:50%;
            margin-left:-5px;
            border-width:0 5px 5px;
            border-style:solid;
            border-color:white;
            border-color:transparent;
            border-bottom-color:black;
        } 
        .left {
            top:50%;
            right:0;
            margin-top:-5px;
            border-width:5px 0 5px 5px;
            border-style:solid;
            border-color:white;
            border-color:transparent;
            border-left-color:black;
        } 
    }
    
    
    
    
   
    
