<div class="tooltip-demo" style="width:800px;margin:120px auto 120px;">
  <p>I'm little
    <a data-toggle="tooltip" data-placement="top" data-original-title="hello tophello tophello tophello tophello tophello tophello tophello tophello tophello top">
      top tooltip
    </a>
  !
  I'm little
    <a data-toggle="tooltip" data-placement="right" data-original-title="hello right">
      right tooltip
    </a>
  !
  I'm little
    <a data-toggle="tooltip" data-placement="bottom" data-original-title="hello bottom">
      bottom tooltip
    </a>
  !
  I'm little
    <a data-toggle="tooltip" data-placement="left" data-original-title="hello left">
      left tooltip
    </a>
  !</p>
</div>