<div class="module-container">
  <p style="text-align:center;margin:20px 0;">I'm little
    <a data-toggle="tooltip" data-placement="top" data-original-title="hello tophello tophello tophello tophello tophello tophello tophello tophello tophello top">
      top tooltip
    </a>
  !
  I'm little
    <a data-toggle="tooltip" data-placement="right" data-original-title="hello right hello right hello right hello right hello right hello right hello right">
      right tooltip
    </a>
  !
  I'm little
    <a data-toggle="tooltip" data-placement="bottom" data-original-title="hello bottom hello bottom hello bottom hello bottom hello bottom hello bottom">
      bottom tooltip
    </a>
  !
  I'm little
    <a data-toggle="tooltip" data-placement="left" data-original-title="hello left hello left hello left hello left hello left hello left hello left">
      left tooltip
    </a>
  !</p>
  <h5 class="code-label">Html Code:</h5>
  <pre class="prettyprint linenums">
&lt;p&gt;I'm little
    &lt;a data-toggle="tooltip" data-placement="top" data-original-title="hello top hello top hello top hello top hello top hello top"&gt;
      top tooltip
    &lt;/a&gt;
  !
  I'm little
    &lt;a data-toggle="tooltip" data-placement="right" data-original-title="hello right hello right hello right hello right hello right"&gt;
      right tooltip
    &lt;/a&gt;
  !
  I'm little
    &lt;a data-toggle="tooltip" data-placement="bottom" data-original-title="hello bottom hello bottom hello bottom hello bottom"&gt;
      bottom tooltip
    &lt;/a&gt;
  !
  I'm little
    &lt;a data-toggle="tooltip" data-placement="left" data-original-title="hello left hello left hello left hello left"&gt;
      left tooltip
    &lt;/a&gt;
  !&lt;/p&gt;</pre>
  <h5 class="code-label">Js Code:</h5>
  <pre class="prettyprint">
  $("[data-toggle=tooltip]").guiTooltip();</pre>
</div>