<div class="module-container">
  <h1>Button bar</h1>

  <hr/>

  <div class="gui-btn-bar">
    <button type="button" class="gui-btn gui-btn-default">Left</button>
    <button type="button" class="gui-btn gui-btn-default">Middle</button>
    <button type="button" class="gui-btn gui-btn-default">Right</button>
  </div>

  <span style="margin-right: 10px;"></span>

  <div class="gui-btn-bar">
    <button type="button" class="gui-btn gui-btn-primary">Left</button>
    <button type="button" class="gui-btn gui-btn-primary">Middle</button>
    <button type="button" class="gui-btn gui-btn-primary">Right</button>
  </div>

  <span style="margin-right: 10px;"></span>

  <div class="gui-btn-bar">
    <button type="button" class="gui-btn gui-btn-warning">Left</button>
    <button type="button" class="gui-btn gui-btn-warning">Middle</button>
    <button type="button" class="gui-btn gui-btn-warning">Right</button>
  </div>

  <div style="margin-top: 10px;"></div>

  <div class="gui-btn-bar">
    <button type="button" class="gui-btn gui-btn-danger">Left</button>
    <button type="button" class="gui-btn gui-btn-danger">Middle</button>
    <button type="button" class="gui-btn gui-btn-danger">Right</button>
  </div>

  <span style="margin-right: 10px;"></span>

  <div class="gui-btn-bar">
    <button type="button" class="gui-btn gui-btn-success">Left</button>
    <button type="button" class="gui-btn gui-btn-success">Middle</button>
    <button type="button" class="gui-btn gui-btn-success">Right</button>
  </div>

  <span style="margin-right: 10px;"></span>

  <div class="gui-btn-bar">
    <button type="button" class="gui-btn gui-btn-info">Left</button>
    <button type="button" class="gui-btn gui-btn-info">Middle</button>
    <button type="button" class="gui-btn gui-btn-info">Right</button>
  </div>

  <pre class="prettyprint" style="margin-top: 10px;">
&lt;div class="gui-btn-bar"&gt;
 &lt;button type="button" class="gui-btn gui-btn-default"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-default"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-default"&gt;Right&lt;/button&gt;
&lt;/div&gt;

&lt;div class="gui-btn-bar"&gt;
 &lt;button type="button" class="gui-btn gui-btn-primary"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-primary"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-primary"&gt;Right&lt;/button&gt;
&lt;/div&gt;

&lt;div class="gui-btn-bar"&gt;
 &lt;button type="button" class="gui-btn gui-btn-warning"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-warning"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-warning"&gt;Right&lt;/button&gt;
&lt;/div&gt;

&lt;div class="gui-btn-bar"&gt;
 &lt;button type="button" class="gui-btn gui-btn-danger"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-danger"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-danger"&gt;Right&lt;/button&gt;
&lt;/div&gt;

&lt;div class="gui-btn-bar"&gt;
 &lt;button type="button" class="gui-btn gui-btn-success"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-success"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-success"&gt;Right&lt;/button&gt;
&lt;/div&gt;

&lt;div class="gui-btn-bar"&gt;
 &lt;button type="button" class="gui-btn gui-btn-info"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-info"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="gui-btn gui-btn-info"&gt;Right&lt;/button&gt;
&lt;/div&gt;</pre>
</div>
