<div class="module-container">
	<div class="pagination pagination-large pagination-right">
	  <ul style="padding:0;">
	    <li class="first"><a href="#">«</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#" class="disabled">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">»</a></li>
	  </ul>
	</div>
	<h5 class="code-label">Html Code:</h5>
	<pre class="prettyprint linenums">
&lt;div class="pagination pagination-large pagination-right"&gt;
    &lt;ul style="padding:0;"&gt;
        &lt;li class="first"&gt;&lt;a href="#"&gt;«&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#" class="disabled"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;»&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</pre>
	<div class="pagination pagination-centered">
	  <ul style="padding:0;">
	    <li class="first"><a href="#">«</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">»</a></li>
	  </ul>
	</div>
	<h5 class="code-label">Html Code:</h5>
	<pre class="prettyprint linenums">
&lt;div class="pagination pagination-centered"&gt;
    &lt;ul&gt;
        &lt;li class="first"&gt;&lt;a href="#"&gt;«&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;»&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</pre>
	<div class="pagination pagination-small">
	  <ul style="padding:0;">
	    <li class="first"><a href="#">«</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">»</a></li>
	  </ul>
	</div>
	<h5 class="code-label">Html Code:</h5>
	<pre class="prettyprint linenums">
&lt;div class="pagination pagination-small"&gt;
    &lt;ul&gt;
        &lt;li class="first"&gt;&lt;a href="#"&gt;«&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;»&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</pre>
	<div class="pagination pagination-mini">
	  <ul style="padding:0;">
	    <li class="first"><a href="#">«</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">»</a></li>
	  </ul>
	</div>
	<h5 class="code-label">Html Code:</h5>
	<pre class="prettyprint linenums">
&lt;div class="pagination pagination-mini"&gt;
    &lt;ul&gt;
        &lt;li class="first"&gt;&lt;a href="#"&gt;«&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;»&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</pre>
	<ul style="padding:0;" class="pager">
 		<li><a href="#">Previous</a></li>
  		<li><a href="#">Next</a></li>
	</ul>
	<h5 class="code-label">Html Code:</h5>
	<pre class="prettyprint linenums">
&lt;ul class="pager"&gt;
    &lt;li&gt;&lt;a href="#"&gt;Previous&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Next&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
	<ul style="padding:0;" class="pager">
	  	<li class="previous">
	    	<a href="#">&larr; Older</a>
	  	</li>
	 	<li class="next">
	   		<a href="#">Newer &rarr;</a>
		</li>
	</ul>
	<h5 class="code-label">Html Code:</h5>
	<pre class="prettyprint linenums">
&lt;ul class="pager"&gt;
    &lt;li class="previous"&gt;
        &lt;a href="#"&gt;&larr; Older&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="next"&gt;
        &lt;a href="#"&gt;Newer &rarr;&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;</pre>
</div>