/**
 * User: guoyao
 * Time: 07-26-2013 12:07
 * Blog: http://www.guoyao.me
 */

@import "base";

@component-background-color: #eeeeee;

@grace-nav-item-width: 120px;
@grace-nav-item-height: 30px;

.grace-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  a {
    display: block;
    text-align: center;
    background-color: @component-background-color;
    line-height: @grace-nav-item-height;
    height: @grace-nav-item-height;
    width: @grace-nav-item-width;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      background-color: darken(@component-background-color, 10%);
    }
  }
  li {
    position: relative;
    &:hover > ul { // ie6 does't support :hover class except link tag('a'), we use js to imitate this feature for ie6
      display: block;
    }
  }
  > li { // ie6 does't support direct child selecotr('>'), we use js to imitate this feature for ie6
    float: left;
  }
  ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    ul {
      top: 0;
      left: @grace-nav-item-width;
    }
  }
}

.grace-nav-vertical {
  > li {
    float: none;
    width: @grace-nav-item-width;
  }
  ul {
    top: 0;
    left: @grace-nav-item-width;
  }
}
