<div class="module-container" style="">
  <h4>Dropdown Component:</h4>
  <div class="dropdown">
    <a class="dropdown-toggle">
      <span>Action</span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-list">
      <!-- dropdown menu links -->
      <li class="default"><a>111</a></li>
      <li><a>222</a></li>
      <li><a>333</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <a class="dropdown-toggle">
      <span>Action</span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-list">
      <!-- dropdown menu links -->
      <li><a>aaa</a></li>
      <li class="default"><a>bbb</a></li>
      <li><a>ccc</a></li>
    </ul>
  </div>
  <h5 class="code-label">Html Code:</h5>
    <pre class="prettyprint linenums">
&lt;div class="dropdown"&gt;
    &lt;a class="dropdown-toggle"&gt;
      &lt;span&gt;Action&lt;/span&gt;
      &lt;b class="caret"&gt;&lt;/b&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-list"&gt;
      &lt;li class="default"&gt;&lt;a&gt;111&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a&gt;222&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a&gt;333&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class="dropdown"&gt;
    &lt;a class="dropdown-toggle"&gt;
      &lt;span&gt;Action&lt;/span&gt;
      &lt;b class="caret"&gt;&lt;/b&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-list"&gt;
      &lt;li&gt;&lt;a&gt;aaa&lt;/a&gt;&lt;/li&gt;
      &lt;li class="default"&gt;&lt;a&gt;bbb&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a&gt;ccc&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</pre>
</div>
