<div class="module-container">
	<h4 style="margin-bottom:20px;">Date Picker Component:</h4>
	<input class="datepicker_demo" type="text" data-default-date="now"/>
    <input class="datepicker_demo_2" type="text" data-default-date=""/>
    <h5 class="code-label">Html Code:</h5>
    <pre class="prettyprint linenums">
&lt;input class="datepicker_demo" type="text"/&gt;
&lt;input class="datepicker_demo_2" type="text"/&gt;</pre>
	<h5 class="code-label">Js Code</h5>
    <pre class="prettyprint">
    $(".datepicker_demo").guiDatePicker();
    
    $(".datepicker_demo_2").guiDatePicker({
    	initNewDate:new Date(1980,1,1)
    });</pre>
</div>
