<div class="module-container">

  <div class="gui-splitter" style="height: 300px;">
    <div class="gui-splitter-part-first">
      Left
    </div>
    <div class="gui-splitter-part-second">
      Right123
    </div>
  </div>

  <div class="gui-splitter gui-splitter-vertical" style="height: 300px; margin-top: 20px;">
    <div class="gui-splitter-part-first">
      Top
    </div>
    <div class="gui-splitter-part-second">
      Bottom
    </div>
  </div>

  <div class="gui-splitter" style="height: 300px; margin-top: 20px;">
    <div class="gui-splitter-part-first">
      Left
    </div>
    <div class="gui-splitter-part-second">
      <div class="gui-splitter gui-splitter-vertical">
        <div class="gui-splitter-part-first">
          Top
        </div>
        <div class="gui-splitter-part-second">
          Bottom
        </div>
      </div>
    </div>
  </div>

  <div class="gui-splitter gui-splitter-vertical" style="height: 300px; margin-top: 20px;">
    <div class="gui-splitter-part-first">
      Top
    </div>
    <div class="gui-splitter-part-second">
      <div class="gui-splitter">
        <div class="gui-splitter-part-first">
          Left
        </div>
        <div class="gui-splitter-part-second">
          right
        </div>
      </div>
    </div>
  </div>

  <div class="gui-splitter" style="height: 300px; margin-top: 20px;">
    <div class="gui-splitter-part-first">
      Left
    </div>
    <div class="gui-splitter-part-second">
      <div class="gui-splitter gui-splitter-vertical">
        <div class="gui-splitter-part-first">
          Top
        </div>
        <div class="gui-splitter-part-second">
          <div class="gui-splitter">
            <div class="gui-splitter-part-first">
              Left
            </div>
            <div class="gui-splitter-part-second">
              <div class="gui-splitter gui-splitter-vertical">
                <div class="gui-splitter-part-first">
                  Top
                </div>
                <div class="gui-splitter-part-second">
                  Bottom
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gui-splitter gui-splitter-vertical" style="height: 300px; margin-top: 20px;">
    <div class="gui-splitter-part-first">
      Top
    </div>
    <div class="gui-splitter-part-second">
      <div class="gui-splitter">
        <div class="gui-splitter-part-first">
          Left
        </div>
        <div class="gui-splitter-part-second">
          <div class="gui-splitter gui-splitter-vertical">
            <div class="gui-splitter-part-first">
              Top
            </div>
            <div class="gui-splitter-part-second">
              <div class="gui-splitter">
                <div class="gui-splitter-part-first">
                  Left
                </div>
                <div class="gui-splitter-part-second">
                  Right
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gui-splitter" style="height: 500px; margin-top: 20px;">
    <div class="gui-splitter-part-first">
      <div class="gui-splitter gui-splitter-vertical">
        <div class="gui-splitter-part-first">
          Top
        </div>
        <div class="gui-splitter-part-second">
          <div class="gui-splitter gui-splitter-vertical">
            <div class="gui-splitter-part-first">
              Top
            </div>
            <div class="gui-splitter-part-second">
              <div class="gui-splitter">
                <div class="gui-splitter-part-first">
                  Left
                </div>
                <div class="gui-splitter-part-second">
                  Right
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gui-splitter-part-second">
      <div class="gui-splitter gui-splitter-vertical">
        <div class="gui-splitter-part-first">
          <div class="gui-splitter">
            <div class="gui-splitter-part-first">
              Left
            </div>
            <div class="gui-splitter-part-second">
              <div class="gui-splitter gui-splitter-vertical">
                <div class="gui-splitter-part-first">
                  Top
                </div>
                <div class="gui-splitter-part-second">
                  Bottom
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gui-splitter-part-second">
          <div class="gui-splitter">
            <div class="gui-splitter-part-first">
              <div class="gui-splitter gui-splitter-vertical">
                <div class="gui-splitter-part-first">
                  Top
                </div>
                <div class="gui-splitter-part-second">
                  Bottom
                </div>
              </div>
            </div>
            <div class="gui-splitter-part-second">
              <div class="gui-splitter gui-splitter-vertical">
                <div class="gui-splitter-part-first">
                  <div class="gui-splitter">
                    <div class="gui-splitter-part-first">
                      Left
                    </div>
                    <div class="gui-splitter-part-second">
                      right
                    </div>
                  </div>
                </div>
                <div class="gui-splitter-part-second">
                  <div class="gui-splitter">
                    <div class="gui-splitter-part-first">
                      Left
                    </div>
                    <div class="gui-splitter-part-second">
                      right
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>