<div class="module-container">
  <div class="gui-splitter" style="width: 600px; height: 400px;">
    <div class="gui-splitter-part-first">
      Left
    </div>
    <div class="gui-splitter-part-second">
      Right
    </div>
  </div>

  <!--<div class="gui-splitter" data-vertical="true" style="width: 600px; height: 400px; margin-top: 50px;">-->
    <!--<div class="gui-splitter-part-first">-->
      <!--Top-->
    <!--</div>-->
    <!--<div class="gui-splitter-part-second">-->
      <!--Bottom-->
    <!--</div>-->
  <!--</div>-->
</div>