<div class="module-container">
	<div class="gui-collapse">
		<ul class="tabs">
			<li>
				<h2 class="tab-btn"><a>Graceful Tab btn 1</a></h2>
				<div class="tab-content" style="display: none;">
					JavaScript expressions can be evaluated as values inside .less files. We recommend using caution with this feature as the LESS will not be compilable by ports and it makes the LESS harder to maintain. If possible, try to think of a function that can be added to achieve the same purpose and ask for it on github. We have plans to allow expanding the default functions available. However, if you still want to use JavaScript in .less, this is done by wrapping the expression with back-ticks:
				</div>
			</li>
			<li>
				<h2 class="tab-btn"><a>Graceful Tab btn 2</a></h2>
				<div class="tab-content">
					JavaScript expressions can be evaluated as values inside .less files. We recommend using caution with this feature as the LESS will not be compilable by ports and it makes the LESS harder to maintain. If possible, try to think of a function that can be added to achieve the same purpose and ask for it on github. We have plans to allow expanding the default functions available. However, if you still want to use JavaScript in .less, this is done by wrapping the expression with back-ticks:
				</div>
			</li>
			<li>
				<h2 class="tab-btn"><a>Graceful Tab btn 3</a></h2>
				<div class="tab-content">
					JavaScript expressions can be evaluated as values inside .less files. We recommend using caution with this feature as the LESS will not be compilable by ports and it makes the LESS harder to maintain. If possible, try to think of a function that can be added to achieve the same purpose and ask for it on github. We have plans to allow expanding the default functions available. However, if you still want to use JavaScript in .less, this is done by wrapping the expression with back-ticks:
				</div>
			</li>
		</ul>
	</div>
</div>
